<div class="jumbotron text-center">
<h2>People</h2>
<div class="btn-group" role="group" aria-label "Default Button Groups">
	<%= link_to "Everyone", "#", class: "btn btn-default" %>
	<%= link_to "Friends", "#", class: "btn btn-default" %>
	<%= link_to "Requests", "#", class: "btn btn-default" %>
	<%= link_to "Pending", "#", class: "btn btn-default" %>
</div>
	
</div>
<div class = "container" %>
<div class = "row"%>
<%= render @users %>
</div>

</div>